<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vendor_Base::content">
                    <resource id="Vendor_Module::content" title="Module" translate="title" sortOrder="10">
                        <resource id="Vendor_Module::people" title="People" translate="title" sortOrder="10">
                            <resource id="Vendor_Module::people_save" title="Save" translate="title" sortOrder="10"/>
                            <resource id="Vendor_Module::people_delete" title="Delete" translate="title"
                                      sortOrder="20"/>
                        </resource>
                        <resource id="Vendor_Module::skill" title="Skill" translate="title" sortOrder="10">
                            <resource id="Vendor_Module::skill_save" title="Save" translate="title" sortOrder="10"/>
                            <resource id="Vendor_Module::skill_delete" title="Delete" translate="title"
                                      sortOrder="20"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
