<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Vendor\Module\Model\ResourceModel\People\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vendor_module_people</argument>
            <argument name="resourceModel" xsi:type="string">Vendor\Module\Model\ResourceModel\People</argument>
        </arguments>
    </virtualType>
    <virtualType name="Vendor\Module\Model\ResourceModel\Skill\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vendor_module_skill</argument>
            <argument name="resourceModel" xsi:type="string">Vendor\Module\Model\ResourceModel\Skill</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="people_listing_data_source" xsi:type="string">
                    Vendor\Module\Model\ResourceModel\People\Grid\Collection
                </item>
                <item name="skill_listing_data_source" xsi:type="string">
                    Vendor\Module\Model\ResourceModel\Skill\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Vendor\Module\Api\Data\PeopleInterface"
                type="Vendor\Module\Model\People"/>
    <preference for="Vendor\Module\Api\Data\PeopleSearchResultsInterface"
                type="Vendor\Module\Model\PeopleSearchResults"/>
    <preference for="Vendor\Module\Api\PeopleRepositoryInterface"
                type="Vendor\Module\Model\PeopleRepository"/>
    <preference for="Vendor\Module\Api\Data\SkillInterface"
                type="Vendor\Module\Model\Skill"/>
    <preference for="Vendor\Module\Api\Data\SkillSearchResultsInterface"
                type="Vendor\Module\Model\SkillSearchResults"/>
    <preference for="Vendor\Module\Api\SkillRepositoryInterface"
                type="Vendor\Module\Model\SkillRepository"/>
    <preference for="Vendor\Module\Api\PeopleSkillSyncInterface"
                type="Vendor\Module\Model\PeopleSkillSync"/>
</config>
